*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family: "grueso";
    src: url(../fonts/Dosis-SemiBold.ttf);
}

header {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
    justify-content: space-around;
    padding: 60px;
    
}
.logo{
    width: 300px;      
}
.menu{
   font-family: "grueso";
    display: flex;
    list-style-type: none;
    gap: 100px;
    grid-gap: 100px;            
}
.navbar{
    display: flex;
    align-items: center;
   
}
.imagenprincipal{
    background-image: url(../img/piluso.jpeg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;  
}
.imagenprincipal h1{
    font-family: "grueso";
}

.pie h4,h5{
    font-family: "grueso";
    display: flex;
    
}
.productos {
   
    display: grid;
    height: 80vh;
    width: 100%;
    grid: template columns 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "viscera  sombrero"
    "bag      piluso";
    padding: 50px;
    gap: 50px;
    
    
    
    
}
.viscera {
    font-family: "grueso";
    grid-area: viscera; 
    background-image: url(../img/viscera.jpeg); 
    
    

}
.sombrero {
    font-family: "grueso";
    grid-area: sombrero; 
    background-image: url(../img/WhatsApp\ Image\ 2023-09-12\ at\ 10.32.09\ \(1\).jpeg);   

}
.bag {
    font-family: "grueso";
    grid-area: bag;
    background-image: url(../img/cartera.jpeg);
    
}
.piluso {
    font-family: "grueso";
    grid-area: piluso;
    background-image: url(../img/piluso.jpeg);

}
.productos div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}
@media screen and (max-width: 500px) {
    .productos {    
    
    grid: template columns 1fr;
    grid-template-rows: repeat(6,1 fr);
    grid-template-areas: 
    "viscera"
    "sombrero"
    "bag"
    " piluso";
    
    
    }
    .body{
        justify-content: center;
        background-color: darksalmon;
        grid: template columns 1fr;
    grid-template-rows: repeat(6,1 fr);
    grid-template-areas: 
    "imagenprincipal"
    "video"

        
    }

    }
